/*
   Document   : ext.math
   Created on : 23.09.2013, 13:55:00
   Author     : Physikerwelt (Moritz Schubotz)
   Description:
       Shows browser-dependent math output.
*/

.mwe-math-mathml-inline,
.mwe-math-mathml-display { display: none; }
.mwe-math-fallback-png-inline { display: inline; vertical-align: middle}
.mwe-math-fallback-png-display { display: block;  margin-left: auto;  margin-right: auto;}
.mwe-math-fallback-source-inline { display: inline; vertical-align: middle}
.mwe-math-fallback-source-display { display: block;  margin-left: auto;  margin-right: auto;}

@-moz-document url-prefix() {
    span.mwe-math-mathml-inline { display: inline !important; }
    span.mwe-math-mathml-display { display: block !important; margin: auto !important; }
    span.mwe-math-mathml-inline + img.mwe-math-fallback-svg-inline,
    span.mwe-math-mathml-display + img.mwe-math-fallback-svg-display,
    img.mwe-math-fallback-svg-inline + img.mwe-math-fallback-png-inline,
    img.mwe-math-fallback-svg-display + img.mwe-math-fallback-png-display { display: none !important; }
}

/* Set the fonts to use for the MathML rendering */
@namespace m url('http://www.w3.org/1998/Math/MathML');
m|math {
    /* Try OpenType MATH fonts, the WOFF fallback and the old math fonts */
    font-family: Cambria Math, Latin Modern Math, STIX Math, LatinModernMathWOFF, MathJax_Main, STIXGeneral, serif;
}
@font-face {
    /* WOFF version of Latin Modern Math.
       See https://github.com/fred-wang/MathFonts */
    font-family: LatinModernMathWOFF;
    src: url(./LatinModern/latinmodern-math.woff);
}
