/*
   Document   : ext.math
   Created on : 23.09.2013, 13:55:00
   Author     : Physikerwelt (Moritz Schubotz)
   Description:
       Shows browser-dependent math output.
*/
@namespace m url('http://www.w3.org/1998/Math/MathML');

/* Default style for MathML. */
.mwe-math-mathml-inline { display: none; }
.mwe-math-mathml-display { display: none; margin-left: auto; margin-right: auto; }
m|math {
    /* Try OpenType MATH fonts, the WOFF fallback and the old math fonts */
    font-family: Cambria Math, Latin Modern Math, STIX Math, LatinModernMathWOFF, MathJax_Main, STIXGeneral, serif;
}

@font-face {
    /* WOFF version of Latin Modern Math.
       See https://github.com/fred-wang/MathFonts */
    font-family: LatinModernMathWOFF;
    src: url(./LatinModern/latinmodern-math.woff);
}

/* Default style for SVG. */
img.mwe-math-fallback-svg-inline { display: none; }
img.mwe-math-fallback-svg-display { display: none; margin-left: auto; margin-right: auto; }

/* Default style for the PNG fallback. */
img.mwe-math-fallback-png-inline { display: inline; vertical-align: middle; }
img.mwe-math-fallback-png-display { display: block; }

/* Default style for the source fallback. */
.mwe-math-fallback-source-inline { display: inline; vertical-align: middle; }
.mwe-math-fallback-source-display { display: block; margin-left: auto; margin-right: auto; }

/******************************************************************************/
/* Browser-specific hacks are bad but let's use that for now...
   See http://browserhacks.com/ */

/* For all browsers but IE < 9, hide the PNG fallback and show the SVG instead.
   We override the default style for PNG and SVG above */
:root * > img.mwe-math-fallback-svg-inline { display: inline !important; }
:root * > img.mwe-math-fallback-svg-display { display: block !important; }
:root * > img.mwe-math-fallback-svg-inline + img.mwe-math-fallback-png-inline,
:root * > img.mwe-math-fallback-svg-display + img.mwe-math-fallback-png-display { display: none; }

@-moz-document url-prefix() {
    /* For Gecko browsers, hide the SVG fallback and show the MathML instead.
       We override the style for SVG and MathML above */
    .mwe-math-mathml-inline { display: inline !important; }
    .mwe-math-mathml-display { display: block !important; }
    :root * > .mwe-math-mathml-inline + img.mwe-math-fallback-svg-inline,
    :root * > .mwe-math-mathml-display + img.mwe-math-fallback-svg-display { display: none !important; }
}
