src/WikiTexVC/test.4.1.1.php
src/WikiTexVC/test.4.1.2.php
.DS_Store
/nbproject/private/
node_modules/
vendor
composer.lock
/tests/selenium/log
en-wiki-formulae.json
en-wiki-formulae-good.json
en-wiki-formulae-good-reference.json
chem-regression.json
# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
.buildpath
.classpath
.settings
cscope.files
cscope.out
*.orig
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json
.eslintcache
