.svn
.DS_Store
*~
*.kate-swp
.*.swp
/nbproject/private/
# Add some files from the official MathJax distribution so that they will be
# ignored when we copy the upstream version during an upgrade.
modules/MathJax/.gitignore # .gitignore from the MathJax repository
modules/MathJax/bower.json # bower.json from the MathJax repository
modules/MathJax/MathJax.js # packed file
modules/MathJax/config/ # packed files
modules/MathJax/docs
modules/MathJax/extensions/ # packed files
modules/MathJax/fonts/HTML-CSS/TeX/png # We don't use the image fallback
modules/MathJax/fonts/HTML-CSS/Asana-Math
modules/MathJax/fonts/HTML-CSS/Gyre-Pagella
modules/MathJax/fonts/HTML-CSS/Gyre-Termes
modules/MathJax/fonts/HTML-CSS/Latin-Modern
modules/MathJax/fonts/HTML-CSS/Neo-Euler
modules/MathJax/fonts/HTML-CSS/STIX-Web
modules/MathJax/jax/ # packed files
modules/MathJax/localization/ # packed files
modules/MathJax/test
modules/MathJax/unpacked/config/ # We don't use predefined config files
