[access]
	inheritFrom = mediawiki/extensions
[access "refs/*"]
	owner = group Administrators
	owner = group extension-Math
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/heads/LaTeXML"]
	push = group Registered Users
	pushMerge = group Registered Users
[project]
	description = MediaWiki extension Math
	state = active
[access "refs/heads/dev"]
	push = group Registered Users
	pushMerge = group Registered Users
