[access]
	inheritFrom = mediawiki/extensions
[access "refs/*"]
	owner = group Administrators
	owner = group extension-Math
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/heads/LaTeXML"]
	push = group Registered Users
	pushMerge = group Registered Users
[project]
	description = MediaWiki extension Math
[access "refs/heads/dev"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/master"]
	exclusiveGroupPermissions = label-Verified submit
	label-Verified = -1..+2 group JenkinsBot
	label-Verified = -1..+2 group l10n-bot
	label-Verified = -1..+0 group Registered Users
	submit = deny group Registered Users
	submit = group JenkinsBot
	submit = group l10n-bot




